@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
@import url("https://use.typekit.net/sjv7lma.css");

:root {
    --text-color: #FFFFFF;
    --background-color: #1700c7;
    --font-family: arial, sans-serif;
}

::selection {
    background-color: #FFFFFF;
    color: #1700c7;
}

::-webkit-scrollbar {
    display: none;         
}

html {
    box-sizing: border-box;
    -ms-overflow-style: none;  
    scrollbar-width: none;   
}
*, *::before, *::after {
    box-sizing: inherit;  
}

body {
    min-height: 100vh;
    background-color: var(--background-color);
    margin: 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: .25rem .25rem .25rem;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: medium;
    font-size: .875rem;
    font-family: var(--font-family);
}

nav a.active {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

nav a:hover {
    font-family: "redaction-70", sans-serif;
}

hr {
    border: none;
    border-top: 1px solid var(--text-color);
    margin: 0;
}

.carousel {
    margin: 100px auto;
    width: 100%;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20em;
    animation: spin 24s infinite linear;   
    padding-right: 20em;
}

.card {
    flex: 0 0 5em;
    height: 20em;
    padding: .1em;
    background-color: var(--text-color);
    align-content: center;
    text-align: center;
}

.card img {
    height: 100%;
    width: auto;
    object-fit: cover;
    display: block;
}

@keyframes spin {
    from {
        translate: 0;
    }
    to {
        translate: -100%;
    }
}

canvas {
    position: fixed;
    z-index: 2;
    pointer-events: none;
}

section {
    position: relative;
    padding: 10vh 1vw;
    height: 100vh;
    width: 100%;
}

.projects {
    width: 100%;
    height: 100%;
}

.projects ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 0;
    /* gap: 2.5em; */
    padding-bottom: 2.5vh;
}

.projects li {
    position: relative;
    border-bottom: 1px solid var(--text-color);
    cursor: circular;
    font-size: 6vw;
    font-weight: 400;
    font-family: var(--font-family);
    color: var(--text-color);
}

.projects li a{
    color: var(--text-color);
    text-decoration: none;
}

.projects li:hover {
    font-family: "redaction-70", sans-serif;
}

.project-image {
    opacity: 0%;
    position: absolute;
    top: -100%;
    pointer-events: none;
    user-select: none;
}

footer {
    padding: 1vh 1vw;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    height: 107vh;
}

footer h1 {
    font-size: 1.5rem;
    font-family: var(--font-family);
    color: var(--text-color);
    margin: 0;
    font-size: 6vw;
    font-weight: bold;
    padding: 0;
}

footer section {
    margin: 0;
    padding: 0;
}

footer section h2 {
    font-family: var(--font-family);
    color: var(--text-color);
    padding-top: 2.5em;
}